
html{

    background-image:url("./restaurant.jpg");
    background-size: cover;
}

section{

    padding: 24px;
}
header {
    font-family:'Pacifico', cursive;


    text-align: left;
    font-size: 32px;
 
    margin: 2px;
    color:rgb(239 234 217)}
body{
    position: relative;
}
button {
    display: inline-block;
    padding: 10px 20px;
}
table {
    border:1px;
    display: block;
    margin-top: 20px;
    border: 2px,solid;font-family: 'Oleo Script Swash Caps', cursive;  
    text-align: center;
    font-size: 20px;
    

}
th, td {
    border: 1px solid white;
    padding: 20px;  
    background-color: rgb(1, 19, 16);
    color:white;

}

#d1{

background-color: blue;
width: 100%;
line-height: -10px;

}

nav{
    
    margin: -50px;
    position: absolute;
    right: 50px;
    display: block;
    width: 100%;

}
a{
    text-decoration: none;
    background-color: bisque;
    font-family: fantasy;
    font-size: 17px;
    color:  rgb(1, 19, 16);
    margin: 5px;
    padding: 7px;
    border-radius: 5px;
}
form{
    color: white;
    font-family: cursive;
    font-size: 20px;
    text-align: left;


}

div{
    font-family: 'Oleo Script Swash Caps', cursive;  
    text-align:left;
    font-size: 20px;
 


}


hr {


    margin: 10px;
}
div{


    color:rgb(239 234 217);
}